@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-rgb: #122753; */
  --background-rgb: #1a225f;
  --background-rgb2: #2B4875;
  background-color: var(--background-rgb2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-image: linear-gradient(to top right,var(--background-rgb), var(--background-rgb2)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}